*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
onnx/model.encoder_model.embed_tokens.weight filter=lfs diff=lfs merge=lfs -text
onnx/model.text_projector.linear_1.weight filter=lfs diff=lfs merge=lfs -text
onnx/model.text_projector.linear_2.weight filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5056 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5057 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5058 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5081 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5082 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5083 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5084 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5085 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5086 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5087 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5110 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5111 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5112 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5113 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5114 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5115 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5116 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5139 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5140 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5141 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5142 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5143 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5144 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5145 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5168 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5169 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5170 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5171 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5172 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5173 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5174 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5197 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5198 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5199 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5200 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5201 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5202 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5203 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5226 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5227 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5228 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5229 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5230 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5231 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5232 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5255 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5256 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5257 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5258 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5259 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5260 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5261 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5284 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5285 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5286 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5287 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5288 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5289 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5290 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5313 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5314 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5315 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5316 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5317 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5318 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5319 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5342 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5343 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5344 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5345 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5346 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5347 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5348 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5371 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5372 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5373 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5374 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5375 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5376 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5377 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5400 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5401 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5402 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5403 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5404 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5405 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5406 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5429 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5430 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5431 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5432 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5433 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5434 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5435 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5458 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5459 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5460 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5461 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5462 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5463 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5464 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5487 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5488 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5489 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5490 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5491 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5492 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5493 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5516 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5517 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5518 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5519 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5520 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5521 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5522 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5545 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5546 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5547 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5548 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5549 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5550 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5551 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5574 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5575 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5576 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5577 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5578 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5579 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5580 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5603 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5604 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5605 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5606 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5607 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5608 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5609 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5632 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5633 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5634 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5635 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5636 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5637 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5638 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5661 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5662 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5663 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5664 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5665 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5666 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5667 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5690 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5691 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5692 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5693 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5694 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5695 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5696 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5719 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5720 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5721 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5722 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5723 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5724 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5725 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5748 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5749 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5750 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5751 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5753 filter=lfs diff=lfs merge=lfs -text
onnx/onnx__MatMul_5754 filter=lfs diff=lfs merge=lfs -text
